.container{
    display: flex;
    justify-content: center;
}
.containerForm{
    justify-content: center;
}

table{
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
    padding: 5px;
}

thead{
    background-color: lightcoral;
}

.links {
    justify-self: flex-end;
    padding: 10px;
  }

ul{
    list-style-type: none;
}

#setTransaction{
    display: flex;
    justify-content: center;
}

header, footer{
    background-color:lightblue;
    display: flex;
    justify-content: space-between;

}

footer {
    width: 100%;
    position:absolute;
    bottom:0;
    background-color:lightblue;
    text-align: center;
    position: fixed;
}

#bottomLinks{
    display: flex;
    padding: 10px;
}

 #bottomLinks li {
     padding: 10px;
 }

 .encabezadoAdmin{
    display: flex;
    align-items:center;
    justify-content: center;
 }

header {
    display: flex;
    justify-content: space-between;
}

form{
    padding: 10px;
    margin: 10px;
}

input{
    padding: 10px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y : auto;
}