.container{
    display: flex;
    justify-content: center;
}
.containerForm{
    justify-content: center;
}

table{
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
    padding: 5px;
}

thead{
    background-color: lightcoral;
}

.links {
    display: flex;
    justify-content: flex-end;

  }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#setTransaction{
    display: flex;
    justify-content: center;
}